body{

    font-family: "Rubik",Helvetica,Arial,sans-serif;
    text-align: center;
    background-color: #F5F9FF
}

.formElements{
    padding: 1em;
}

.DetailsMain{
    color: #0052CE;
}
.employeeDetailsPrint{
    padding-bottom: 1em;

}
.employeeDetails{
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.employeeDetails label, .employeeDetailsPrint label{
    font-size: 1.4em;
}
.employeeDetails input[type=text]{
    font-size: 1.4em;
    border: 1px solid #0052CE;
    border-radius: 3px;
    width: 50%;
}

.employeeDetails input[type=text]:active{
    background: #F5F9FF;
    border-color: #0052CE;
    outline: none;
    box-shadow: none;
}

.formHeading{
    color: #0052CE;
}

.salbtn{
    background-color:#0052CE;
    border: none;
    color: white;
    padding: 0.5em;
    text-align: center;
    font-size: 1.2em;
    border-radius: 0.3em;
}
